// Global styles
html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    position: relative;
    color: $text-primary;
}

header,
section,
footer {
    width: 100%;
    float: left;
}

.mh-100 {
    min-height: 100vh;
}

a {
    text-decoration: none;
    @include transition(ease, 0.3s);
}

.py-60 {
    padding: 60px 0;
}

.pt-60 {
    padding-top: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.py-30 {
    padding: 30px 0;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.whatsapp {
    @include whatsapp-button;
}

header {
    width: 100%;
    height: auto;
    padding: 15px 30px;
    // color: ;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    @include transition(ease, 0.2s);

    #logo-navbar {
        width: 170px;
        @include transition(ease, 0.2s);
    }

    #mburger {
        color: $text-primary;
        font-size: 1.6rem;

        &:hover,
        &:focus {
            color: $text-secondary;
        }
    }
}

.navbar-scroll {
    // background-color: ;
    padding: 10px 30px !important;
    @include transition(ease, 0.3s);

    #logo-navbar {
        width: 132px !important;
    }

    #mburger {
        // color: !important;
    }
}

#mapa {
    line-height: 0;
    
    p {
        margin: 0;
        padding: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'gothamblack', 'Roboto', sans-serif;
    // font-weight: 700;
    text-transform: uppercase;

    span {
        color: $text-secondary;
    }
}

.btn {
    text-transform: uppercase;
}

.btn-primary {
    --bs-btn-hover-color: #223047;
    font-family: 'gothamblack', 'Roboto', sans-serif;
    color: $text-primary;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);

    &:hover {
        -webkit-box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
                box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    }
}

header {
    background-color: $secondary;
    letter-spacing: 0.1rem;
    padding-top: 2rem;

    nav {
        text-transform: uppercase;

        a {
            color: $text-primary;

            &:hover {
                background-color: $primary;
                color: $text-tertiary;
            }
        }

        ul {
            margin-bottom: 0;
        }
    }
}

#jumbotron {
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 60px 0;

    p,
    h1 {
        position: relative;
        z-index: 3;
    }

    p {
        color: $text-secondary;
        font-size: 1.2rem;
        letter-spacing: 0.6rem;
        margin-bottom: 0;
    }

    .overlay,
    video {
        width: 100%;
        min-height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
    }

    .overlay {
        @include background('../images/overlay-jumbotron.png', center, cover);
        z-index: 2;
    }

    video {
        z-index: 1;
    }

    &::before {
        @include background('../images/before-jumbotron.png', center, contain);
        width: 438px;
        height: 106px;
        position: absolute;
        bottom: -50px;
        left: -75%;
        content: '';
        z-index: 3;
    }
}

#modelos {
    h1 {
        color: #6B6E78;
    }

    p {
        color: $text-secondary;
        font-size: 1.2rem;
        letter-spacing: 0.6rem;
        margin-bottom: 0;
        text-transform: uppercase;
    }

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    .card {
        border: none;
        border-radius: 0;
        position: relative;

        a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            z-index: 2;
        }

        .card-img {
            border-radius: 0;
        }

        .card-img-overlay {
            border-radius: 0;
            padding: 70px 44px;
            display: flex;
            align-items: end;
            z-index: 1;
            @include transition(ease, 0.3s);

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p {
                color: $text-primary;
                font-family: 'gothammedium', 'Roboto', sans-serif;
            }

            h1 {
                @include font-size(3rem);
            }

            p {
                display: inline-block;
                letter-spacing: normal;
                border-bottom: 2px solid $text-primary;
            }
        }

        @for $i from 1 through 4 {
            .card-img-overlay-#{$i} {
                @include background('../images/bg-card-img-overlay-#{$i}.png', center, cover);
                background-repeat: repeat;
            }
        }
    }
}

#conoce {
    padding: 120px;

    h1 {
        @include font-size(4rem);
    }

    p {
        color: $text-secondary;
        text-transform: uppercase;
    }
}

#tendencias {
    @include background('../images/bg-tendencias.png', center, cover);
    position: relative;
    overflow: hidden;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $text-secondary;
    }

    h1 {
        @include font-size(4rem);
    }

    p {
        color: $text-tertiary;
    }

    &::before {
        @include background('../images/before-tendencias.png', center, contain);
        width: 438px;
        height: 106px;
        position: absolute;
        bottom: 0;
        left: -75%;
        content: '';
        z-index: 3;
    }
}

#contacto {
    overflow: hidden;

    a {
        color: $text-primary;

        &:hover {
            color: #334AC1;
        }
    }

    .form-floating > label {
        color: #334AC1;
    }

    .form-floating > .form-control:focus~label,
    .form-floating > .form-control:not(:placeholder-shown)~label,
    .form-floating > .form-control-plaintext~label,
    .form-floating > .form-select~label {
        color: #334AC1;
    }

    .form-floating > .form-control:focus~label::after {
        background-color: transparent;
    }

    .form-control {
        background-color: transparent;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #5691AB;
        color: #334AC1;
    }
}

footer {
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    .logo {
        @include background('../images/bg-footer.png', left, cover);
        width: 100%;
        height: 100%;
        float: left;
        padding: 74px 80px;
        display: flex;
        align-items: center;
    }
}