// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
    #jumbotron,
    #tendencias {
        &::before {
            left: -50%;
        }
    }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
    #jumbotron,
    #tendencias {
        &::before {
            left: -22%;
        }
    }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
    header {
        nav {
            ul {
                .list-inline-item:not(:last-child) {
                    margin-right: 1rem;
                }
            }
        }
    }

    #jumbotron {
        padding: 100px 0;

        &::before {
            width: 572px;
            height: 138px;
            bottom: -50px;
            left: -28%;
        }
    }

    #tendencias {
        &::before {
            width: 572px;
            height: 138px;
            bottom: -50px;
            left: -28%;
        }
    }

    #modelos {
        .card {
            .card-img-overlay {
                opacity: 0;
            }

            &:hover {
                .card-img-overlay {
                    opacity: 1;
                }
            }
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
    header {
        nav {
            ul {
                .list-inline-item:not(:last-child) {
                    margin-right: 3rem;
                }
            }
        }
    }

    #jumbotron,
    #tendencias {
        &::before {
            left: -16%;
        }
    }

    #iniciar-simulacion,
    #conoce {
        .btn-primary {
            @include font-size(2rem);
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@include media-breakpoint-up(xxl) {
    header {
        nav {
            ul {
                .list-inline-item:not(:last-child) {
                    margin-right: 4rem;
                }
            }
        }
    }

    #jumbotron,
    #tendencias {
        &::before {
            left: -18%;
        }
    }
}
